name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  compile:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run : sudo apt --assume-yes install maven
      - run : mvn compile

  test_unit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt --assume-yes install maven
      - run: mvn test

  test_int:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt --assume-yes install maven
      - run: mvn verify
      - run: sudo apt --assume-yes install cowsay
      - run: cowsay -f dragon "Quand 900 ans comme moi tu auras, moins en forme tu seras"

